
*{
    margin: 0px;
    padding: 0px;
}

.Contain{
    height: 100vh;
    background: linear-gradient(to bottom, #f5f5f5, #dcdcdc);
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.Login{
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    width: 35%;
    padding: 35px;
    border-radius: 15px;

}

.LoginContain{
    width: 100%;
    display: flex;
    justify-content: center;
}

.RegisterLink{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1023px){
    .Login{
        width: 60%;
        background-color: rgba(0, 0, 0, 0.795);
        color: white;
        padding: 35px;
        border-radius: 15px;
    
    }
}

@media only screen and (max-width: 480px){
    .Login{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.795);
        color: white;
        padding: 35px;
        border-radius: 15px;
    
    }

 
}